apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .Values.cronjob.name }}
spec:
  schedule: {{ .Values.cronjob.schedule | quote }}
  successfulJobsHistoryLimit: 5
  failedJobsHistoryLimit: 5
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: {{ .Chart.Name }}
              image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              env:
              - name: springer
                valueFrom:
                  secretKeyRef:
                    name: api-keys
                    key: springer
              - name: scopus
                valueFrom:
                  secretKeyRef:
                    name: api-keys
                    key: scopus
              command: ["Rscript"]
              args:
                - "--vanilla"
                - "{{ .Values.cronjob.script }}"
                - "-r"
                - "{{ .Values.cronjob.rows }}"
                - "-n"
                - "{{ .Values.cronjob.nodes }}"
                - "-s"
                - "{{ .Values.cronjob.sources }}"

              volumeMounts:
              - name: {{ .Values.persistence.claimName }}
                mountPath: {{ .Values.persistence.mountPath }}
                readOnly: false
          volumes:
          - name: {{ .Values.persistence.claimName }}
            persistentVolumeClaim:
              claimName: {{ .Values.persistence.claimName }}
              readOnly: false
          restartPolicy: Never